@model IEnumerable<Entity.Usuario>
@{
    ViewBag.Title = "IndexAnunciante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Anunciante</h2>

<p>
    @Html.ActionLink("Nuevo Anunciante", "CreateAnunciante")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.codigoUsuario)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoDistrito.nombre)
        </th>

    </tr>
    @foreach (var item in Model)
    {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.codigoUsuario)
        </td>**@
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlContacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoDistrito.nombre)
        </td>
        <td>
            @Html.ActionLink("Nueva Publicacion", "Publicar", new {  }) |
            @Html.ActionLink("Edit", "EditAnunciante", new { id = item.codigoUsuario }) |
            @Html.ActionLink("Delete", "DeleteAnunciante", new { id = item.codigoUsuario })
        </td>
    </tr>
    }
</table>
