@model IEnumerable<Entity.Publicacion>
@{
    ViewBag.Title = "FiltradoPorServicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Publicacion", "CreatePublicacion")
</p>
<p>
    @Html.ActionLink("Quitar filtros", "Index")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.codigoPublicacion)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.codigoPublicista.nombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.titulo)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.descripcion)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.costoServicio)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.codigoServicio.nombre)
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigoPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoPublicista.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoServicio.nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPublicacion", new { id = item.codigoPublicacion }) |
                @Html.ActionLink("Delete", "DeletePublicacion", new { id = item.codigoPublicacion })
                @Html.ActionLink("Solicitar", "Solicitar", new { })
            </td>
        </tr>

    }


</table>

